@import url('https://fonts.googleapis.com/css2?family=Ubunto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  background: #d300ff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family:'Ubunto', sans-serif;
}

a{
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #000;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
}

span{
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0%{
    width: 0px;
    height: 0px;
    opcaity: 0.5
  }
  100%{
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
